.left.main
  .left
    %h1 
      %span.a Pool
      %span.b Shop
    %p
      778 Cascades Road
      %br
      Little Falls
      %br
      Gauteng

    %p
      0861 102 013
      %br

      sales@lexpools.co.za
  .left
    %img{:src=>"/images/flipflops2.png", :style => 'margin: 20px 0 0 20px', :alt=> 'flipflops'}

  .clear
  %h1 
    %span.a Email
    %span.b Us
  <!-- Do not change code! -->
  %table{:cellspacing=>"0", :cellpadding=>"0", :border=>"0"}
    %tr
      %td
        %iframe{:width=>"400", :height=>"440", :frameborder=>"0", :src=>"http://www.foxyform.com/form.php?id=195290&sec_hash=abd0a65a6c9"}
.right
  = render 'services'
        
.clear
