.left.main
  %h1 
    %span.a SALTWATER
    %span.b CHLORINATORS

  %p
    %b Sanitizing of swimming pools by saltwater chlorinators is the safest, most effective and environmentally freindly method of all.

  %p
    Salt chlorinators generate the chlorine necessary to keep your pool free of bacteria and algae. The chlorinator also produces a small amount of azone which gives your pool that added sparkel and freshness. The result is healthier water that looks great and feels great too. and you can take comfort in the knowledge that your pool is being sanitized even when you aren't around.

  %p
    %b
      How it works:

  %p
    Using chlorine is the proven way of destroying bacteria, viruses and algae in a pool. A salt chlorinator produces its own chlorine when mildly salted water is passed through its electrodes. The level of salt is so low tha you can barely taste it. The chlorine dissolves instantly in the pool water, going to work immediately to safely sanitize your pool. Thus eliminating the need for chlorine floaters or granular chlorine products.

  %p
    %b
      Our service:

  %p
    We offer a full on site back-up service on all Zodiac Clearwater Chlorinators, and carry a full range of spares and replacement electrodes.
.right
  = render 'services'
.right
  %img{:src=>"/images/cw_zodiac.png", :alt=> 'ad', :style => 'margin: 10px 0'}
.clear
