%ul#products.carousel
  %li
    %img{:src=>"/images/carousel/blanket1.png", :alt=> 'blanket'}
  %li
    %img{:src=>"/images/carousel/blanket2.png", :alt=> 'blanket'}
  %li
    %img{:src=>"/images/carousel/blanket3.png", :alt=> 'blanket'}
.left.main
  %h1 
    %span.a SWIMMING POOL 
    %span.b SOLAR BLANKETS
  %p
    %b
      Solar pool covers, by design, allows the sun's rays to pass through the cove, adding free heat to your swimming pool and raising its overal temperature by up to 5 degrees.

  %p
    During the night, heat loss will be reduced by 80% when using solar pool covers. These covers can be used where no alternative form of heating is present or extra heat is required in a heated pool.

  %p
    The solar cover is available in royal blue or black and can be sized to suit any shape or size of pool. The cover floats on the pool and does not require any form of fixing to the sides of the pool and roll-up systems are available and con be installed in conjunction with the pool cover.

  %p
    %b
      Sun Command solar blankets offer these key features:

  %ul
    %li Up to 5 degree rise in overall temperature
    %li 95% drop in evaporation
    %li less chemical usage
    %li No hooks or plates on paving
    %li 2 year pro-rata warranty
    %li Reduces pool maintenance

  %p
    Each coer comes, as standard, with a solar protection sheet to prevent damage from UV rays when removed from the pool.

  %p
    Each cover is manufactured from UV treated polyethylene designed to withstand the harshest conditions, extreme chanegs in ambient temprateruse between day and night time periods.
.right
  = render 'services'
.right
  %img{:src=>"/images/suncommand.png", :alt=> 'suncommand', :style => 'margin: 10px 0'}
.clear
:JAVASCRIPT
  $(document).ready(function() {
    $('ul#products').roundabout();
  });
