.sidemenu
  %h1 SERVICES
  %ul
    %li Solar Heating
    %li Electric Pool Heating
    %li Saltwater Chlorinators
    %li Pool Covers
    %li Pool Nets
    %li Commercial Covers
    %li Domestic Pumps
    %li Water Testings
    %li Pool Accessories
