.sidemenu
  %h1 SERVICES
  %ul
    %li Solar Heating
    %li Electric Pool Heating
    %li Saltwater Chlorinators
    %li Pool Covers & Blankets
    %li Pool Nets
    %li Commercial Covers
    %li Pool Pumps & Filters
    %li Water Testing
    %li Pool Accessories
